Flask==2.2.2
gunicorn==20.1.0
python-dotenv==0.21.0
boto3==1.26.50prometheus_flask_exporter==0.23.0\nopentelemetry-distro==0.45b0\nopentelemetry-instrumentation-flask==0.45b0\nopentelemetry-exporter-otlp==1.24.0
